entrypoint = "index.html"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Serve static"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "static-web-server --port 80 --root . --directory-listing false"
waitForPort = 80

[[ports]]
localPort = 80
externalPort = 80

[agent]
expertMode = true
