.hidden {
  display: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 60px 30px 60px 30px;
  padding: 0 20px;
  margin-block-end: 200px;
  background-color: #d5e5ca;
}

h1 {
  color: #76a161;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Chonburi', cursive;
}

h2 {
  color: #76a161;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Chonburi', cursive;
}

h4 {
  color: #76a161;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Chonburi', cursive;
}

text {
  color: #849c74;
  font-size: 17px;
  font-family: 'Cairo', sans-serif;
  line-height: 1.75;
  margin-top: 0px;
  margin-bottom: 10px;
}

a {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration-line: none;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 5px;
}

.nav {
  position: fixed;
  background-color: #76a161;
  top: 0px;
  right: 0px;
  left: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav a:hover {
  background-color: white;
  color: #76a161;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  width: 250px;
}





